:root {
  --jumbotron-padding-y: 3rem;
}

.jumbotron {
  padding-top: var(--jumbotron-padding-y);
  padding-bottom: var(--jumbotron-padding-y);
  margin-bottom: 0;
  background-color: #fff;
}
@media (min-width: 768px) {
  .jumbotron {
    padding-top: calc(var(--jumbotron-padding-y) * 2);
    padding-bottom: calc(var(--jumbotron-padding-y) * 2);
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

.row.nomargin{
    margin-bottom: 0px;
}

#myNavbar { background-color: rgb(66, 103, 178); border-color: rgb(66, 103, 178);}

div .error{
    color: red;
}

.datepicker-modal{
    max-height: max-content;
}


.timepicker-modal{
    max-height: max-content;
}

.no-max-width{
    max-width: 2000px;
}

@media screen and (min-width: 800px) {
 #company-logo {
   width: 100%;
   margin-right: 10px;
   padding: 10px 10px 1px 10px;
 }
}

@media screen and (max-width: 800px) {
 #company-logo {
   width: 20%;
   margin-right: 10px;
   padding: 1px 10px 1px 10px;
 }
}

@media screen and (max-width: 400px) {
 #company-logo {
   width: 30%;
   margin-right: 10px;
   padding: 1px 10px 1px 10px;
 }
}


@media screen and (max-width: 400px) {
 #company-logo {
   width: 50%;
   margin-right: 10px;
   padding: 1px 10px 1px 10px;
 }
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

  #myfooter { background-color: white;}

.bakery-background {
    background-color : #000000;
}

.navbar-height{
    height:64px;
}

.btn-100{
    width:100%;
}

.pagination-button{
    background-color: #2196F3 !important;
    margin: 5px;
}


.pagination-button-selected{
    background-color: #0065af !important;
}

.header-table{
height:0px;}

.msg {
  width:100%;
  padding:8px;
  color: grey;
}
.msg-error {
  // rouge
  border-color: #d32f2f;
  background-color: #ef5350;
  color: white;
}
.msg-alert {
  //orange
   border-color: #ef6c00;
  background-color: #ff9800;
  color: white;
}

.msg-info{
  border-color: #0288d1;
  background-color: #29b6f6;
  color: white;
}

header, main, footer {
  padding-left: 300px;
}

@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
  }
}

.navbar-fixed {
   z-index: 999;
}

.login-padding{
    padding-top: 180px;
}


#modalProcess.modal {
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  background-color: #fafafa;
  padding: 0;
  max-height: 80%;
  width: 65%;
  margin: auto;
  overflow-y: auto;
  border-radius: 2px;
  will-change: top, opacity;
}


.textSection p { line-height: 24px; }
.progress {
  margin-bottom: 8px;
  height: 12px;
  border-radius: 6px;
  background-color: #f1f8fa;
}
.tooltipSection {
  position: relative;
  margin-top: 64px;
}
._tooltip {
  display: inline-block;
  position: absolute;
  left: calc(10% - 24px);
  background-color:rgb(66, 103, 178); border-color: rgb(66, 103, 178);
  color: #fff;
  top: -42px;
  line-height: 26px;
  font-size: 12px;
  text-align: center;
  width: 48px;
  border-radius: 4px;
}
._tooltip:after {
    content:'';
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -6px;
    width: 0;
    height: 0;
    border-top: solid 6px rgb(66, 103, 178); border-color: rgb(66, 103, 178);
    border-left: solid 6px transparent;
    border-right: solid 6px transparent;
}
.progressBottomTxt {
  font-weight: 500;
  font-size: 12px;
  display: block;
  display: table;
  width: 100%;
  margin-bottom: 24px;
}
.progressBottomTxt ._left {
  display: table-cell;
  width: 50%;
  text-align: left;
}
.progressBottomTxt ._right {
  display: table-cell;
  width: 50%;
  text-align: right;
}
.progressBottomTxt > div > span {
  color: rgb(66, 103, 178); border-color: rgb(66, 103, 178);
}

.progress .determinate{
background-color: rgb(66, 103, 178); border-color: rgb(66, 103, 178)
}

.tabs .indicator { display: none; }
.tabs .tab a.active { border-bottom: 2px solid #3745d0; }

.refresh-button{
    margin-top: 2rem;
}

.table-responsive {
   display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}


.clean {
    background: none;
    box-shadow: none;
}

.breadcrumb:last-child {
  font-weight: 500;
}
.breadcrumb.dark {
  color: rgba(0, 0, 0, 0.5);
  line-height: 64px;
}
.breadcrumb.dark:before {
  color: rgba(0, 0, 0, 0.2);
  vertical-align: middle;
}
.breadcrumb.dark:last-child {
  color: rgba(0, 0, 0, 1);
}
.breadcrumb.dark i {
  line-height: 64px;
}
