<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<head lang="en">
    <meta charset="utf-8" />
    <link rel="icon" th:href="@{/img/favicon.ico}" type="image/x-icon"/>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
            name="description"
            content="Web site created using spring init"
    />
    <link rel="apple-touch-icon" th:href="@{/img/logo192.png}" />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">

    <title>La pasticceria di Luana e Maria</title>
    <script src="https://kit.fontawesome.com/c3da382ec3.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" th:href="@{/css/materialize.css}"/>
    <link rel="stylesheet" th:href="@{/css/bakery.css}"/>
</head>

<body>
<!-- Compiled and minified JavaScript -->
<script th:src="@{/js/jQuery.js}" type="text/javascript"></script>
<script th:src="@{/js/materialize.js}" type="text/javascript"></script>
<script th:src="@{/js/jquery.validate.min.js}" type="text/javascript"></script>

<div class="main">

    <nav class="bakery-background navbar-fixed">
        <div class="myNavbar">
            <a href="#" class="brand-logo">La pasticceria di Luana e Maria</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a th:href="@{/pastry/managePastry}">Gestione dei Dolci</a></li>
                <li><a th:href="@{/login}">Login</a></li>
            </ul>
        </div>
    </nav>

    <div class="row">
        <div class="col s3 offset-s1">
            <h2>Lista dei dolci</h2>
        </div>
        <div class="col s4" style="margin-top: 45px;">
            <a th:onclick="|openPastryModal('create','');|" class="waves-effect waves-light btn">Nuovo Dolce</a>

        </div>
    </div>
    <div class="row container">
        <table>
            <thead>
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>Azioni</th>
            </tr>
            </thead>

            <tbody>
            <tr th:each="pastry: ${pastries}">
                <td th:text="${pastry.id}" />
                <td th:text="${pastry.name}" />
                <td>
                    <a class="waves-effect waves-light btn blue" th:onclick="|openPastryModal('detail',${pastry.id});|">Modifica</a>
                    <a class="waves-effect waves-light btn green" th:onclick="|openSellModal(${pastry.id});|">Metti in vendita</a>
                    <a class="waves-effect waves-light btn blue" th:onclick="|openRecipeModal(${pastry.id});|">Aggiungi ingrediente</a>
                    <a class="waves-effect waves-light btn red" th:onclick="|deletePastry(${pastry.id});|">Elimina</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>


</div>

<div id="modalNewPastry" class="modal">
</div>

<div id="modalSellPastry" class="modal">
</div>

<div id="modalRecipePastry" class="modal">
</div>

<script>
        function showModal(modalId){
                var m = M.Modal.getInstance($(modalId));
                m.open();
            }

        function closeModal(modalId){
            var m = M.Modal.getInstance($(modalId));
            m.close();
        }

        function openPastryModal(action, pastryId){
            var action_url = ""
            if(action=='create'){
                action_url= action_url + "newPastry"
            }
            else if(action=='detail'){
                action_url=action_url + "editPastry?pastryId="+pastryId
            }

            $.ajax({
                url: action_url,
                success: function(data){
                     $("#modalNewPastry").html(data);
                     showModal('#modalNewPastry');
                }
            })
        }

        function openRecipeModal(pastryId){
            var action_url = "addRecipe?pastryId="+pastryId

            $.ajax({
                url: action_url,
                success: function(data){
                     $("#modalRecipePastry").html(data);
                     showModal('#modalRecipePastry');
                }
            })
        }

     $(document).ready(function(){
        $('.sidenav').sidenav();
        $('.modal').modal();
      });
</script>

</body>
</html>